.f{
  &-left{
    float:left;
  }

  &-right{
    float:right;
  }
}

.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr35{margin-right:35px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr60{margin-right:60px;}
.mr70{margin-right:70px;}
.mr80{margin-right:80px;}

.mt4{margin-top:4px;}
.mt7{margin-top:7px;}
.mt10{margin-top:10px;}
.mt13{margin-top:13px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}

.w110{width:110px;}
.w130{width:130px;}
.w140{width:140px;}
.w160{width:160px;}
.w200{width:200px;}
.w300{width:300px;}
.w550{width:550px;}
.wfull{width:100%;}

.h160{height:160px;}
.h330{height:330px;}