@charset "UTF-8";

.gnb{
  position:relative;
  z-index:999;
}

.contents{
  padding-bottom:100px;
  &.no-padding-bottom{
    padding-bottom:0;
  }
}

.space-contents{

  &.space-info{
    padding-top:260px;
    background:url(/images/search/bg_sub.jpg) no-repeat center top;
    background-size:contain;
  }

}

.container{

  //position:static;
  z-index:initial;

  &.space-info{

    background:#fff;
  }

}