.paging{
  display:inline-block;

  &-wrap{
    margin-top:55px;
    text-align:center;
  }

  &:after{
    content:"";
    display:block;
    clear:both;
  }

  &-item{
    display:block;
    width:35px;
    height:35px;
    border:0;
    margin:0 3px;

    float:left;

    font-size:14px;
    line-height:35px;
    text-align:center;

    &:hover, &.current{
      background:#231f20;

      color:#fff;
    }
  }

  a {
    border:0;
  }

  .arrow{
    position:relative;
    text-indent:-9999em;

    &:after{
      content:"";
      display:inline-block;
      width:6px;
      height:10px;
      background:url(/images/online_consulting/spr_online_consulting_input.png) 0 0 no-repeat;
      position:absolute;
      top:12px;
      left:12px;
    }

    &:hover{
      background:none;
    }

    &.prev{
      &:after{
        background-position:-78px 0;
      }
    }

    &.next{
      &:after{
        background-position:-93px 0;
      }
    }
  }

}