.table{
  &-input{
    height:26px;
    padding:3px 5px;
    border:1px solid #ccc;
    font-size:14px;
  }

  &-select{
    border:1px solid #ccc;
    font-size:14px;
  }

  &-textarea{
    display:block;
    padding:3px 5px;
    border:1px solid #ccc;
    font-size:14px;
  }

  .full-input{
    width:100%;
  }
}

.btn{

  width:205px;
  height:42px;

  font-size:18px;
  color:#fff;

  &.btn-green{
    background:#32b6af;
  }

  &.btn-gray{
    background:#a8a8a8;
  }

}

.link{
  display:inline-block;

  &-gray{
    padding-bottom:5px;
    border-bottom:2px solid #888;
    font-size:30px;
    color:#888;
  }

}